html {
    font-family: "Pacifico", cursive;
}

body{
    background-image: url("../Imagenes/TexturaFondo.png");
    background-color: #F48FB1;
    font-size: 16px;
}

article {
    background-image: url("../Imagenes/Olas_Fondo.png");
    background-color: #F06292;
    transition: box-shadow 0.3s ease;
    width: 100%;
    height: 97.5vh;
    text-align: center;
    padding: 2px;
    margin: 0 auto;
}

article:hover {
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

/* LOGO MS */
.imagen {
    width: 8%;
    margin-top: 8px;
    margin-left: 8px;
    float: inline-start;
}

/* DIV CON BOTONES */
.todasLasOpciones {
    margin: center;
}

button {
    font-family: "Bebas Neue", sans-serif;
    border-color: whitesmoke;
    transition: box-shadow 0.3s ease;
    background-color: #FCE4EC;
    box-shadow: inset -5px -5px 10px #F8BBD0;
    display: block;
    font-weight: bold;
    font-size: 2.2em;
    align-items: center;
    margin: 10px auto;
    width: 85%;
    height: 10vh;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #EFEFEF;
}

button:active {
    background-color: #F48FB1;
    box-shadow: 5px 8px 8px rgba(34, 34, 34, 0.658);
}

.loginButton {
    width: 8%;
    display: flex;
    float: inline-end;
    margin-left: 10px;
    cursor: pointer;
}

.cabecera {
    height: 8%;
}

.textos {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.textoP {
    font-size: 1em;
}

h3, h2, p {
    margin: 0px;
}

.copy {
    margin-top: 2em;
}

@media (min-width: 768px){
    .imagen {
        width: 5%;
    }
    .loginButton{
        width: 5%;
        margin-left: 5px;
    }
    .textos {
        font-size: 2.8em;
    }
    .textoP {
        font-size: 2em;
    }
    .todasLasOpciones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0%;
    }
}

@media (max-width: 390px) {
    .textos{
        font-size: 1.2em;
    }
    .textoP {
        font-size: 0.7em;
    }
    button {
        font-size: 1.5em;
    }
}